{% load static %}

<h1>CoralNet Deploy API Web</h1>
<p>Welcome to the web version of Scott Miller's <a href="https://coralnet.ucsd.edu/blog/automatically-annotating-175000-images-with-the-coralnet-api/">CoralNet API Deployer</a>. This website is meant to abstract the need to create a Dropbox account or to touch any code.</p>

<ol>
  <li>Upload images to Dropbox</li>
  <li>Enter your model's global id:</li> <span><img src="{% static 'images/classifier_overview.png' %}"></span>
  <li>Please enter an email address to send the results to.</li>
</ol>

That's it!
